<div class="table">
    <div class="row"
         ng-repeat="(i, item) in array track by i">
        <div class="cell"
             ng-repeat="(j, num) in item track by j">
            <span ng-click="rotate(i, j)"
                  ng-class="isOpen(i, j) ? 'show' : 'hide'">
                <span class="front">&nbsp;</span>
                <span class="back" ng-bind="num"></span>
            </span>
        </div>
    </div>
</div>
<p ng-class="{'win': checkWin()}">
    <span ng-if="checkWin()">You WON in</span>
    <span ng-bind="steps"></span> moves
</p>