<div class="table" card-flight>
    <div class="row"
         ng-repeat="(i, item) in array track by i">
        <div class="cell"
             ng-repeat="(j, cell) in item track by j">
            <span ng-if="cell"
                  ng-click="rotate(i, j)"
                  ng-class="{'show': isOpen(i, j), 'hide': !isOpen(i, j), 'leaving': cell.leaving}">
                <span class="front" card-back></span>
                <span class="back" ng-bind="cell.v"></span>
            </span>
            <span ng-if="!cell" class="empty"></span>
        </div>
    </div>
</div>
<p ng-class="{'win': checkWin()}">
    <span ng-if="checkWin()">You WON in</span>
    <span ng-bind="steps"></span> moves
</p>
